
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

out/
build/
dist/

# plasmo
.plasmo

# typescript
.tsbuildinfo
*.tsbuildinfo

.idea

# 文档项目的依赖和构建产物
/docs/node_modules/
/docs/docs/.vuepress/dist/
/docs/docs/.vuepress/.cache/
/docs/docs/.vuepress/.temp/

# 其他可能的文档生成器特定忽略项 (例如 Docusaurus 的 build 目录)
# /docs/build/
